@import "tailwindcss";

:root {
  --background: #0D0D0D;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer utilities{
  .soft-green{
    color: #7ADAA5;
  }
  .soft-green-bg{
    background-color: #7ADAA580;
  }
  .soft-blue{
    color: #239BA7;
  }
  .soft-blue-bg{
    background-color: #239BA7;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
